<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=26331555&amp;from=informer"
target="_blank" rel="nofollow" style"display:none"><img src="//bs.yandex.ru/informer/26331555/1_0_FFFFFFFF_FFFFFFFF_0_pageviews"
style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:26331555,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->
