.panel.panel-default
  .panel-heading
    %h3 Editing wiki
  
  .panel-body
    = raw render 'form'

  .panel-footer
    = link_to 'Show', @wiki, class: 'btn btn-info'
    = link_to 'Back', wiki_index_path, class: 'btn btn-danger'
