%header
  %nav.navbar.navbar-default
    .navbar-header
      = link_to 'AzartWiki', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      - if current_user.admin?
        %p.navbar-text.navbar-right.navbar-link
          = link_to t('sign_out'), logout_url, method: :delete
